.search-area {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-items: center;
  padding: 1%;
  width: 700px;
  height: 300px;
  background: #ffffffaa;
  border-radius: 10px;
  box-shadow: 1px 1px 7px black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 85px;
  margin-bottom: 30px;
}

.search-area button {
  grid-column-start: 1;
  grid-column-end: span 2;
}

.MuiPickersCalendarHeader-transitionContainer {
  overflow: unset !important;
}

.MuiPickersSlideTransition-transitionContainer > * {
  padding: 10px;
}
.MuiPickersBasePicker-pickerView {
  min-width: 323px !important;
  max-width: 323px !important;
  padding-bottom: 15px !important;
}
