.result-card-container {
  display: flex;
  flex-direction: row;
  background-color: #ffffffaa;
  padding: 15px;
  margin: 15px auto;
  text-align: center;
}

.flights {
  display: flex;
  flex-direction: column;
}

.price {
  max-width: 100px;
}
