.result-container {
  display: flex;
  flex-direction: column;
}

.result-page {
  display: grid;
  grid-template-columns: 300px auto 300px;
  padding: 40px 20px;
}

.result-no-result {
  font-size: 100px;
  font-family: pageTitle !important;
  text-align: center;
  margin-right: 320px;
}
