.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@font-face {
  font-family: pageTitle;
  src: url(/Lobster_1.3.otf);
}
body {
  background-image: url(/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3e004a;
}

ul.topnav li a {
  display: block;
  color: #abe390 !important;
  text-align: center;
  text-decoration: none;
}

ul.topnav li.right {
  float: right;
  line-height: 103px;
  margin-right: 17px;
  font-size: 27px;
  color: #abe390 !important;
  font-family: pageTitle;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }
}
.plane {
  max-width: 177px;
  float: left;
}

.page-title {
  position: absolute;
  width: 100%;
  left: 0;
  margin: auto;
  padding-top: 33px;
  font-family: pageTitle;
  font-size: 54px;
}

.page-title-text {
  color: #ace391 !important;
}

#passenger-select-label {
  text-align: center;
  width: 90px;
  font-family: pageTitle;
  font-size: 21px;
}
