@font-face {
  font-family: pageTitle;
  src: url(/Lobster_1.3.otf);
}
body {
  background-image: url(/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

ul.topnav {
  display: grid;
  grid-template-columns: 100px auto 100px;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  list-style-type: none;
  overflow: hidden;
  background-color: #3e004a;
  flex-wrap: nowrap;
}

ul.topnav li div {
  /* display: block; */
  /* color: #abe390 !important; */
  text-align: center;
  text-decoration: none;
}

ul.topnav li.right {
  float: right;
  line-height: 103px;
  margin-right: 17px;
  font-size: 27px;
  color: #abe390 !important;
  font-family: pageTitle;
  display: flex;
  justify-content: flex-end;
}
.link {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }
}
.plane {
  max-width: 177px;
  float: left;
}

.page-title {
  font-family: pageTitle;
  font-size: 54px;
}

.page-title-text {
  color: #ace391 !important;
}

#passenger-select-label {
  text-align: center;
  width: 90px;
  font-family: pageTitle;
  font-size: 21px;
}

.user-icon-img {
  margin-right: 0px 5px;
  height: 20px;
  width: 20px;
}

.compare-context {
  margin-top: 50px;
  color: beige;
  font-style: italic;
  text-align: center;
  font-size: 28px;
  font-family: emoji;
  line-height: 38px;
}

.sub-compare-context {
  color: beige;
  font-style: italic;
  text-align: center;
  font-size: 25px;
  font-family: emoji;
  line-height: 38px;
}

.info-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #ffffffaa;
  border-radius: 10px;
  box-shadow: 1px 1px 7px black;
  max-width: 850px;
  align-self: center;
  padding: 5.1px;
}

.info-icon {
  position: absolute;
  width: 30px;
  left: 60px;
  top: 135px;
  background-color: #d7cad7;
  padding: 1.4px;
  border-radius: 50%;
}

.info-icon:hover {
  transform: scale(1.2);
}
